.form-builder-row {
    margin-bottom: 10px;

    @media (max-width: #{$screen-md - 1px}) {
        margin-bottom: 20px;
    }

    &.two-ten-md {
        label {
            color: gray;
        }

        div:first-child {
            text-align: right;
            padding-right: 15px;

            @media (max-width: #{$screen-md - 1px}) {
                font-size: 12px;
                text-align: left;
            }

        }
    }
}